.page {
    margin: 0 auto;
    min-width: 320px;
    max-width: 1280px;
    width: 100%;
    font-family: "Inter", Arial, sans-serif;
    font-weight: 400;
    color: #ffffff;
    background-color: #2A2C2F;
}