.elements__info{
    margin: 0;
    padding: 25px 20px;
    display: flex;
    border-radius: 0 0 10px 10px;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF;
    height: 35px;
}