.footer {
	display: flex;
	justify-content: space-between;
	max-width: 880px;
	margin: 0 0 60px 0;
  
}
  
@media screen and (max-width: 920px) {
  .footer {
    width: 88%;
	/*max-width: 600px;*/
    /*padding-bottom: 36px;*/
  }
}

@media screen and (max-width: 644px) {
	.footer {
	  margin: 0 0 36px 0;
	  max-width: 282px;
	}
  }